<h2>All Superheroes</h2>

<%= form_tag("/superheroes", method: "get") do %>
  <%= label_tag(:superpower_name, "Search by superpower:") %>
  <%= text_field_tag(:superpower_name) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>